<div class="app-container">
  <header>
    <h4>Olympic Medalists</h4>
  </header>

  <div class="app-content">
    <div class="main-area">
      <div class="data-table-area">
        <table class="table table-sm table-hover" *ngIf="currentRows && currentRows.length">
          <thead>
            <tr>
              <th *ngFor="let header of tableHeaders">
                <a href="javascript:void(0)">{{header.headerName}}</a>
                <span class="sort-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of currentRows" (click)="onRowSelected(row)" [class.active]="row.selected">
              <td>{{row.athlete}}</td>
              <td>{{row.age}}</td>
              <td>{{row.country}}</td>
              <td>{{row.year}}</td>
              <td>{{row.date}}</td>
              <td>{{row.sport}}</td>
              <td>{{row.gold}}</td>
              <td>{{row.silver}}</td>
              <td>{{row.bronze}}</td>
              <td>{{row.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-pagination">
        <ul class="pagination">
          <li *ngFor="let page of pageList" class="page-item" [class.active]="page.index === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="gotoPage(page.index)">{{page.text}}</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="side-area" [class.open]="selectedData">
      <div class="side-area-header">
        <h6 class="m-0 mr-1">Details</h6>
        <a href="javascript:void(0)" (click)="closeDetails()">
          <i class="material-icons">close</i>
        </a>
      </div>
      <div class="side-area-content">
        <table class="table table-bordered table-sm m-0" *ngIf="selectedData">
          <tr>
            <td>Athlete</td>
            <td>{{selectedData.athlete}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{selectedData.country}}</td>
          </tr>
          <tr>
            <td>Sport</td>
            <td>{{selectedData.sport}}</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>{{selectedData.gold}}</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>{{selectedData.silver}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <th>{{selectedData.total}}</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>