.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #eaeaea;
}

header {
    height: 50px;
    min-height: 50px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    color: #FFF;
    background-image: linear-gradient(to bottom right, #0084e7, #0067b4);

    h4 {
        margin: 0 auto;
        padding: 0 0.5rem;
        font-weight: 400;
    }
}

.app-content {
    flex: auto;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    position: relative;

    .main-area {
        flex: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #f9f9f9;

        .data-table-area {
            flex: auto;
            overflow: auto;

            table {
                margin: 0;

                tr {

                    &.active {
                        background: #d3ebff;

                        th, td {
                            border-color: #a3d5ff;
                        }
                    }

                    th {
                        vertical-align: middle;
                        border-bottom: 1px solid #e0e0e0;
                        font-weight: 500;
                        color: #777;
                        padding: 0.5rem;
                        padding-right: 24px;
                        background: #ececec;
                        font-size: 0.9rem;
                        min-width: 80px;
                        position: relative;

                        a {
                            color: #777;
                            display: inline-block;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .sort-icon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 24px;
                            height: 100%;
                            display: grid;
                            place-items: center;
                            user-select: none;

                            i {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    td {
                        font-size: 0.9rem;
                        vertical-align: middle;
                        border-color: #e0e0e0;
                        padding: 0.5rem;
                    }
                }
            }
        }

        .table-pagination {
            padding: 1rem;
        }
    }

    .side-area {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 400px;
        transform: translateX(100%);
        will-change: transform;
        opacity: 0;
        background: #FFF;
        box-shadow: -10px 2px 20px -2px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;

        &.open {
            transform: translateX(0);
            opacity: 1;
        }

        .side-area-header {
            color: #FFF;
            height: 40px;
            display: flex;
            align-items: center;
            background-image: linear-gradient(to bottom right, #0084e7, #0067b4);
            padding: 0 0.5rem;

            a {
                color: #FFF;
                width: 36px;
                height: 36px;
                text-decoration: none;
                margin-left: auto;
                display: grid;
                place-items: center;
            }
        }

        .side-area-content {
            flex: auto;
            overflow: auto;
            padding: 0.5rem;
        }
    }
}